<br>
<div class="col-md-3">
    <div class="card" style="background-color: #F59A3E; cursor: pointer;">
        <div class="header">
            <h5 class="title" style="font-weight: bold; color: white;"><i class="pe-7s-box2"></i>&nbsp; Rubros de calificacion </h5>
        </div>
        <div class="content" style="text-align: right;">

        </div>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="main-content">
    <div class="card">
        <div class="container-fluid">
            <form #buscar="ngForm" class="form-horizontal" (keyup)="searchVal(buscar)">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <h4 class="card-title col-md-5"> Rubros de calificacion</h4>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <!-- <div class="input-group no-border" style="margin-top: 15px;"> -->
                            <input type="text" class="form-control" style="margin-top: 25px;" value="{{ buscarVal }}" [ngModel]="buscarVal" id="buscarVal" name="buscarVal" placeholder="Buscar...">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="now-ui-icons ui-1_zoom-bold"></i>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </form>

            <div class="row">
                <div class="col-md-12">
                    <div class="content table-responsive table-full-width">
                        <p *ngIf="coincidencia == false">No se encontró ninguna coincidencia</p>
                        <table class="table" *ngIf="coincidencia == true">
                            <thead>
                                <tr>

                                    <th>Opcion</th>
                                    <th>Tipo</th>
                                    <th>Descripcion</th>
                                    <th>Puntaje</th>
                                    <th>Observacion</th>
                                    <th class="text-right">Acción</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let descVal of descvalorizaciones">
                                <tr>
                                    <td class="{{descVal.estado}}">{{descVal.titulo}}</td>
                                    <td class="{{descVal.estado}}">{{descVal.subtitulo}}</td>
                                    <td class="{{descVal.estado}}">{{descVal.descripcion}}</td>
                                    <td class="{{descVal.estado}}">{{descVal.calificacion}}</td>
                                    <td class="{{descVal.estado}}">{{descVal.observacion}}</td>

                                    <td class="td-actions text-right">

                                        <a type="button" rel="tooltip" title="Editar" (click)="getDataDescVal(descVal)" data-toggle="modal" data-target="#modalupddescVal" class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </a>

                                        <!-- <a type="button" *ngIf="descVal.estado === 'true'" rel="tooltip" title="Eliminar" (click)="eliminarActividadCargo(descVal)" class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-close"></i>
                                        </a> -->

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<caption>
    <a class="btn btn-success btn-fill" data-toggle="modal" data-target="#modaladddescVal" style="position: fixed; bottom: 15px; right: 20px; border-radius: 100% !important; float: right; height: 45px; width: 45px;">
        <i style="color: white; padding-top: 6px; padding-right: 8px;" class="fa fa-plus"></i>
    </a>
</caption>


<!-- Modal para registros nuevos -->
<div class="modal fade" id="modaladddescVal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #adddescVal="ngForm" id="addC" (ngSubmit)="addDescValorizacion(adddescVal); adddescVal.reset()">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Rubros</h5>
                    <button type="button" #closebuttonadd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Opcion:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="titulo" name="titulo" [ngModel]="titulo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Tipo:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="subtitulo" name="subtitulo" [ngModel]="subtitulo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripcion:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="descripcion" name="descripcion" [ngModel]="descripcion" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Puntaje:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="calificacion" name="calificacion" [ngModel]="calificacion" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Observacion:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="observacion" name="observacion" [ngModel]="observacion" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="add_descVal" name="add_descVal">Agregar</button>

                </div>

            </div>
        </form>
    </div>
</div>


<!-- Modal para modificar nuevos -->
<div class="modal fade" *ngIf="dataUpdVal == true" id="modalupddescVal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <form #upddesVal="ngForm" id="updC" (ngSubmit)="updDescVal(upddesVal)">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar Parametros</h5>
                    <button type="button" #closebuttonupd class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Opcion:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="tituloU" name="tituloU" [ngModel]="tituloU" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Tipo:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="subtituloU" name="subtituloU" [ngModel]="subtituloU" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Descripcion:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="descripcionU" name="descripcionU" [ngModel]="descripcionU" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Puntaje:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="calificacionU" name="calificacionU" [ngModel]="calificacionU" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-md-4 col-form-label" style="margin-top: 10px;">Observacion:</label>
                        <div class="col-md-8">
                            <div class="form-group has-default">
                                <input type="text" id="observacionU" name="observacionU" [ngModel]="observacionU" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="updDescVal" name="updDescVal">Modificar</button>
                </div>
            </div>
        </form>
    </div>
</div>